<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('InnoDB free: 7168 kB')"></head>
<body>
<div id="dpLTE" class="container-fluid" v-cloak>
	<div class="row">
		<div class="col-md-4 form-inline pull-left">
			<div class="form-group">
		    	<input v-model="account" @keyup.enter="load" type="text" class="form-control" placeholder="请输入账户" style="width: 120px;" />
		    	<input v-model="nick" @keyup.enter="load" type="text" class="form-control" placeholder="请输入昵称" style="width: 120px;" />
		    	<input v-model="referee" @keyup.enter="load" type="text" class="form-control" placeholder="请输入推荐人" style="width: 120px;" />
			</div>
			<div class="form-group">
			    <a class="btn btn-primary" @click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
		            <a v-if="hasPermission('sys:vip:list')" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
		            <a v-if="hasPermission('sys:vip:list')" class="btn btn-default" @click="see"><i class="fa glyphicon fa-eye"></i>&nbsp;查看详情</a></a>
		            <a v-if="hasPermission('sys:vip:save')" class="btn btn-default" @click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>
		            <a v-if="hasPermission('sys:vip:edit')" class="btn btn-default" @click="edit"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
		            <a v-if="hasPermission('sys:vip:remove')" class="btn btn-default" @click="remove"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		        </div>
	        </div>
		</div>
	</div>
	<div class="row">
		<table id="dataGrid"></table>
	</div>
</div>
<div th:include="include/footer_js::footer"></div>
<script th:src="@{/js/base/vip/list.js}"></script>
</body>
</html>