<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="footer">
		<script th:src="@{../../libs/jquery.min.js}"></script>
		<script th:src="@{../../libs/bootstrap.min.js}"></script>
		<script th:src="@{../../plugins/layer/layer.js}"></script>
		<script th:src="@{../../libs/vue.min.js}"></script>
		<script th:src="@{../../plugins/ztree/jquery.ztree.all.min.js}"></script>
		<script th:src="@{../../plugins/bootstrap-table/bootstrap-table.min.js}"></script>
		<script th:src="@{../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
		<script th:src="@{../../plugins/treegrid/jquery.treegrid.min.js}"></script>
		<script th:src="@{../../plugins/treegrid/jquery.treegrid.bootstrap3.js}"></script>
		<script th:src="@{../../plugins/treegrid/jquery.treegrid.extension.js}"></script>
		<script th:src="@{../../plugins/treegrid/tree.table.js}"></script>
		<script th:src="@{../../plugins/validator/validator.js}"></script>
		<script th:src="@{../../js/common.js}"></script>
		<script th:src="@{../../js/form.js}"></script>
	</div>
</body>
</html>