package ${package}.modules.${module}.service;

import java.util.Map;

import ${package}.common.entity.Page;
import ${package}.common.entity.R;
import ${package}.modules.${module}.entity.${className}Entity;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @url ${url}
 * @date ${datetime}
 */
public interface ${className}Service {

	Page<${className}Entity> list${className}(Map<String, Object> params);
	
	R save${className}(${className}Entity ${objName});
	
	R get${className}ById(Long id);
	
	R update${className}(${className}Entity ${objName});
	
	R batchRemove(Long[] id);
	
}
